# API URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:8787

# Avalanche Fuji USDC Address
NEXT_PUBLIC_FUJI_USDC_ADDRESS=0x5425890298aed601595a70AB815c96711a31Bc65

# WalletConnect Project ID (Get one from https://cloud.walletconnect.com/)
NEXT_PUBLIC_WC_PROJECT_ID=9545ec19e71df974b9f298c4749f298c
